# Folders

.vscode/

# Files

**/dynamic_string_test
**/dynamic_string
**/errors_test
**/errors
**/gen_frame_tables_test
**/gen_frame_tables
**/generator_test
**/generator
**/ifj19_test
**/ifj19
**/*.exe
**/*.ic19
**/*.py
tests/hojkas/input
input
printTable.c
print
table_chars
table_chars.csv

**/*.synctex.gz

#trash from hojkas stack testing
indent_stack
